# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
generated_client/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
*.egg-link

# ==========================================
# SQLite / Local DB
# ==========================================
*.sqlite
*.sqlite3
*.db

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# macOS
# ==========================================
.DS_Store

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Vim
# ==========================================
*.swp
*.swo
*.un~
Session.vim
.netrwhist

# ==========================================
# Pytest / coverage
# ==========================================
.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Mypy
# ==========================================
.mypy_cache/

# ==========================================
# Docker
# ==========================================
*.pid
docker-compose.override.yml

# ==========================================
# Environment variables
# ==========================================
.env

# ==========================================
# Temporary files
# ==========================================
*.tmp
*.bak
